# .ebextensions/01_install_ffmpeg.config

commands:
  # 1. dnf를 사용하여 EPEL 저장소를 설치합니다.
  01_install_epel:
    command: sudo dnf install -y epel-release

  # 2. EPEL 설치가 완료된 후, dnf를 사용하여 FFmpeg를 설치합니다.
  02_install_ffmpeg:
    command: sudo dnf install -y ffmpeg
    # FFmpeg 설치가 실패해도 EB가 배포를 중단하지 않도록 test: 'true'를 추가합니다. (최후의 수단)
    # test: 'true'